<h1><%= @student.to_s %> </h1>
<br><%= @student.active ? "This student is currently active." : "This student is currently inactive."%>
<div><%= link_to "Change Status", activate_student_path(@student) %></div>
